



.Enrique{
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(212, 241, 42);
  }
  
  .Vargas{
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
    color:white;
  }